 

body {
    overflow-x: hidden;
 
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #0b88bf;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #0b88bf;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #0b88bf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: abeezeeregular,Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #0b88bf;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #0b88bf;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #0b88bf;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #0b88bf;
    background-color: #0b88bf;
}

.btn-primary .badge {
    color: #0b88bf;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #0b88bf;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #0b88bf;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #0b88bf;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #0b88bf;
    background-color: #0b88bf;
}

.btn-xl .badge {
    color: #0b88bf;
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: #000;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #0b88bf;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #0b88bf;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #0b88bf;
    background-color: #0b88bf;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #0b88bf;
}

.navbar-default .nav li a {
   /*  text-transform: uppercase; */
    font-family: righteousregular,Helvetica,Arial,sans-serif;
    font-weight: 400;
   /*  letter-spacing: 1px; */
    color: #fff;
	font-size: 12px;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #0b88bf;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #0b88bf;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #0b88bf;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 14px 0;
        border: 0;
       /* background-color: transparent; */
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 6px;
    }

    .navbar-default.navbar-shrink {
        padding: 14px 0;
        background-color: #000;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
     text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    /*background-position: center center; */
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}


	

/*********************************************************
						
						min-width:767px

*********************************************************/
@media(min-width:768px) {

 
    header .intro-text {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: none;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    padding: 115px 0;
}

section h2.section-heading {
    margin-top: 16;  
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "abeezeeregular",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
	color:#FFFFFF;
}
/*********************************************************
						
						min-width:768px

*********************************************************/
@media(min-width:768px) {
    section {
        padding: 115px 0;
    }
	
.imgmt-20{ 
	margin-top:12%;
	}
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
	min-height:40px;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

/*********************************************************
						
						Max-width:767px

*********************************************************/
@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom:32px;
    left: 40px;
    width: 1px;
    margin-left: -0.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 127px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 2px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #0b88bf;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

/*********************************************************
						
						Max-width:320px

*********************************************************/
@media(max-width:320px) {
section {
    padding: 85px 0px;
	}
.whoweare-title{
font-size:15px!important;
}	
.whoweare-heading-title{
font-size:25px  !important;;
}
.whoweare-muted-para{
font-size:10.5px;
}
.navbar-default .navbar-brand {
    max-width: 60%;
}
.navbar-default .navbar-brand img{
max-width:100%;
}

	.imgmt-20{ 
	margin-top:0px;
	}

}
@media (min-width:320px) and (max-width:420px) {

.bg-darkest-blue {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0b88bf+0,0b88bf+73,cfedfb+73,cfedfb+100 */
background: #0b88bf; /* Old browsers */
background: -moz-linear-gradient(top,  #0b88bf 0%, #0b88bf 73%, #cfedfb 73%, #cfedfb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #0b88bf 0%,#0b88bf 73%,#cfedfb 73%,#cfedfb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #0b88bf 0%,#0b88bf 73%,#cfedfb 73%,#cfedfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b88bf', endColorstr='#cfedfb',GradientType=0 ); /* IE6-9 */
}

	.imgmt-20{ 
	margin-top:0px;
	}

.timeline>li {
    position: relative;
    margin-bottom: 150px;
    min-height: 50px;
}


/*.flowIcons2{min-height:500px !important; }*/
.navbar-default .navbar-brand{max-width:60%;}
.navbar-default .navbar-brand img{max-width:100%;}
.intro-lead-in{ font-size: 18px!important; padding-top: 30px;}

.intro-heading { font-size: 20px!important;}

.btn-paddingleft{padding-left:15px;}
.whoweare-title{    font-size: 20px!important; }
.whoweare-heading-title {font-size: 28px!important;}
.whoweare-muted-para{ font-size: 13px;}
p {    line-height: 1.45;}
.img-responsive{ width:100%; height:auto ; }
}
@media (min-width:420px) and (max-width:640px) {
.bg-darkest-blue {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0b88bf+0,0b88bf+73,cfedfb+73,cfedfb+100 */
background: #0b88bf; /* Old browsers */
background: -moz-linear-gradient(top,  #0b88bf 0%, #0b88bf 62%, #cfedfb 62%, #cfedfb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #0b88bf 0%,#0b88bf 62%,#cfedfb 62%,#cfedfb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #0b88bf 0%,#0b88bf 62%,#cfedfb 62%,#cfedfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b88bf', endColorstr='#cfedfb',GradientType=0 ); /* IE6-9 */
}
.timeline>li {
    position: relative;
    margin-bottom: 132px;
    min-height: 50px;
}
}
@media (min-width:768px) and (max-width:992px) {
.intro-lead-in{ font-size: 18px!important; padding-top: 30px;}
.intro-heading { font-size: 20px!important;}
.mtext-center{text-align:center !important;}
.navbar-header{max-width:24%;}
.navbar-default .navbar-brand {
    max-width:100%;
}
.container{width:96%;}
.navbar-default .navbar-brand img{
max-width:100%;
}
}
@media(max-width:768px) {

.flowIcons2{margin-top:65px; }

.flowIcons{min-height:430px;}
/*.timeline>li{ min-height:10px;}*/
.timeline:before{bottom:40px;}
.timeline>li .timeline-image{width:10px; height:10px; left:35px;}
.Mm-t-0{margin-top:0 !important;}
.Mm-t-30{margin-top:30px	 !important;}
.mpd-l-80{padding-left:75px !important;}
.mtext-center{text-align:center !important;}
.timeline>li .timeline-image.activeblue{left:41px;}
.intro-lead-in{  font-size: 18px!important;  padding-top:23px;}
.intro-heading { font-size: 26px!important;}
.btn-paddingleft{padding-left:15px;}
}
@media(min-width:768px) {

    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 155px;
        min-height: 36px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
         width: 10px;
        height: 10px;
        margin-left: -6px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
	.bg-darkest-blue {
background: #0b88bf; 
background: -moz-linear-gradient(left,  #0b88bf 0%, #0b88bf 50%, #cfedfb 50%, #cfedfb 100%); 
background: -webkit-linear-gradient(left,  #0b88bf 0%,#0b88bf 50%,#cfedfb 50%,#cfedfb 100%);
background: linear-gradient(to right,  #0b88bf 0%,#0b88bf 50%,#cfedfb 50%,#cfedfb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b88bf', endColorstr='#cfedfb',GradientType=1 );
} 


}

@media(min-width:992px) {
    .timeline>li {
        min-height: 33px;
		margin-bottom: 110px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
         width: 10px;
        height: 10px;
        margin-left: -5px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height:41px;
		margin-top:25px;
		margin-bottom: 133px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 11px;
        height: 11px;
        margin-left: -6px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
 
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

aside.clients img {
    margin: 50px auto;
}

section#contact {
    background-color: #000;
    /*background-image: url(../img/map-image.png); */
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 29px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #0b88bf;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #0b88bf;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #0b88bf;
}

::selection {
    text-shadow: none;
    background: #0b88bf;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #0b88bf;
}

#partner {
    background:url("../img/partner_bg.jpg");
	background-size:cover;
}

#facts {
    background: rgba(0, 0, 0, 0) url("../img/facts_bg.png") no-repeat scroll 50% 50% / cover ;
}

.navbar-brand {
    float: left;
    font-size: 18px;
   /* height: 50px;
    line-height: 20px; */
    padding: 5px;
}