/*  
	CSS Reset by Mundio Mobile - 
*/
 
@font-face {
    font-family: 'abeezeeitalic';
    src: url('../fonts/abeezee-italic-webfont.eot');
    src: url('../fonts/abeezee-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abeezee-italic-webfont.woff2') format('woff2'),
         url('../fonts/abeezee-italic-webfont.woff') format('woff'),
         url('../fonts/abeezee-italic-webfont.ttf') format('truetype'),
         url('../fonts/abeezee-italic-webfont.svg#abeezeeitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'abeezeeregular';
    src: url('../fonts/abeezee-regular-webfont.eot');
    src: url('../fonts/abeezee-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abeezee-regular-webfont.woff2') format('woff2'),
         url('../fonts/abeezee-regular-webfont.woff') format('woff'),
         url('../fonts/abeezee-regular-webfont.ttf') format('truetype'),
         url('../fonts/abeezee-regular-webfont.svg#abeezeeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*Menu Fonts */
@font-face {
    font-family: 'righteousregular';
    src: url('../fonts/righteous-regular-webfont.eot');
    src: url('../fonts/righteous-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/righteous-regular-webfont.woff2') format('woff2'),
         url('../fonts/righteous-regular-webfont.woff') format('woff'),
         url('../fonts/righteous-regular-webfont.ttf') format('truetype'),
         url('../fonts/righteous-regular-webfont.svg#righteousregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

textarea, input,  .form-control{ resize: none; font-size:12px !important; }
hr{
border-color: #555 -moz-use-text-color -moz-use-text-color;}
button, input, select, textarea{font-family:'abeezeeregular' !important;}
h1, h2, h3, h4, h5, h6 { font-weight:normal !important;}
.intro-heading{font-family:'abeezeeregular' !important; font-size:50px!important;font-weight: none !important;text-transform:none !important;line-height: 50px!important;}
.intro-lead-in{font-family:'abeezeeitalic' !important; font-size:30px!important;}
.section-heading-title{ font-family:'abeezeeitalic' !important; font-size:24px!important;text-transform:none !important; color:#000000;}
.service-heading-title{ font-family:'abeezeeregular' !important; font-size:28px!important;text-transform:none !important;color:#3399cc;}
.titleColor{ color:#3399cc; }
.whoweare-heading-title{ font-family:'abeezeeregular' !important; font-size:40px!important;text-transform:none !important; color:#fff;}
.whoweare-title{ font-family:'abeezeeitalic' !important; font-size:24px!important;text-transform:none !important; color:#fff;}
.whoweare-muted-para{ font-family:'abeezeeregular';color:#fff!important; display:inline-block; min-height:150px; font-size:12.5px;}
.whoweare-muted-para p{ font-family:'abeezeeregular'; font-size:13.5px!important;}
section h3.section-subheading{font-size:18px !important;}
.carriers_style{ font-family:'abeezeeregular';color:#fff!important; display:inline-block; font-size:13.5px;}
.ourBrands-textblackcolor{padding-top:0px; font-family:'abeezeeregular';color:#000000!important;}

.partners-heading-title{ font-family:'abeezeeregular' !important; font-size:40px!important;text-transform:uppercase !important;/*line-height: 9px!important;*/ color:#fff;}

.workwithus-heading-title{ font-family:'abeezeeitalic' !important; font-size:21px!important;text-transform:none !important; color:#000000;}

.facts-icons{ font-family:'righteousregular' !important; font-size:32px!important;text-transform:none !important; color:#fff;}
.hrfactscolor{ border-width:3px !important; border-color:#fff; width:120px; margin-left:0; margin-bottom:10px; display:inline-block; }
.hrfactscolorwhite{ border-width:2px !important; border-color:#fff; width:95%; margin-left:0; margin-bottom:10px; display:inline-block; }

.hrbluecolor{ border-width:3px !important; border-color:#0b88bf; width:95%; margin-left:0; margin-bottom:10px; display:inline-block; }
 
.text-partners {
    color: #fff !important;
	line-height:30px;
}
.icons{ color:#fff;  font-family:'abeezeeregular' } 
.hrbluecolor{ border-width:3px !important; color:#FFFFFF; margin-bottom: 0px  !important;margin-top: 0px !important;} 
.hrgraycolor{ border-width:2px !important; border-color:#555555; margin-bottom:35px; } 
.heading-titlecolor{ color:#3399cc;  font-weight: 10px !important; text-transform:uppercase !important;}
.text-muted-para{ padding-top:25px; text-align: right;   }
.nav>li>a{padding:10px 6px 6px 6px !important;}
.text-muted-para{ font-family:'abeezeeregular';color:#464646!important;}
.icon3top{ padding-top:21px; }
.text-muted{padding-top:8px; font-family:'abeezeeregular';color:#464646!important;}
.text-blackcolor{font-family:'abeezeeregular';color:#000000!important;}
.text-blackcolor1{padding-top:0px; font-family:'abeezeeregular';color:#000000!important;}

.bg-light-blue{  background-color: #e2f3fb;}
.bg-light-workgray{  background-color: #e6e6e6;}



/* 
background: #0b88bf; 
background: -moz-linear-gradient(top,  #0b88bf 0%, #0b88bf 50%, #cfedfb 50%, #cfedfb 100%); 
background: -webkit-linear-gradient(top,  #0b88bf 0%,#0b88bf 50%,#cfedfb 50%,#cfedfb 100%); 
background: linear-gradient(to bottom,  #0b88bf 0%,#0b88bf 50%,#cfedfb 50%,#cfedfb 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b88bf', endColorstr='#cfedfb',GradientType=0 ); 
*/ 
.pd-0{padding:0px !important;}
.pd-2{padding:2px !important;}
.pdtop-5{padding-top:40px !important;}
.pdtop-19{padding-top:19px !important;}
.pdleft-24{padding-left:24px !important;}
.m-tb-24{margin:24px 0 !important;}
.m-tb-35{margin:35px 0 !important;}
.m-tb-50{margin:50px 0 !important;}
.m-tb-50a{margin:50px auto !important;}
.m-t-0{margin-top:0 !important;}
.m-b-35{margin-bottom:35px !important;}
.m-t-33{margin-top:33px !important;}
.m-t-40{margin-top:40px !important;}
.header-top {
    display: block;
    overflow: hidden;
    margin: 5px;
}
/* .social-icons {
background-color:#202020;
} */
.social-icons a {
    color: #fff;
    font-size: 14px;
    padding:3px 15px;
	float:left;
	border-right:1px solid #fff;
}
.social-icons a:last-child{border-right:0px;}

/*Button */
.btn-whatwedo {
    background-color: #97a4b6;
    border-color: #97a4b6;
    color: #fff;
	padding:10px;
	font-size:17px;
	font-family:'abeezeeitalic' !important;
	border-radius:0px !important;
}
.btn-paddingleft{
padding-left:15px;
}
/*Button */
.btn-aboutus {
    background-color: #0b88bf;
    border-color: #0b88bf;
    color: #fff;
	padding:10px;
	font-size:17px;
	font-family:'abeezeeitalic' !important;
	border-radius:0px !important;
}

.icons{color:#fff; font-size:11.5px; float:left; width:100%; font-family:'abeezeeregular' !important; }
.icons img{margin-right:1px; }
.activeblue{border:3px solid #00bff3 !important; width:16px !important; height:16px !important;margin-left: -9px !important;}
.blueborder{
    border:2px solid #fff !important;
    width: 80%;
    height: 80%;
    float: left;
    margin: 10%;
    border-radius: 100%;
}
.light_bg{background:rgba(255,255,255,0.7); display:inline-block; padding:15px; border-radius:5px; color:#000 !important; }

.icon3top .fa-stack {
    position: relative;
    display:inline-block;
    width: 2em;
    height:2em;
    vertical-align: middle;
    line-height: 2em;

}
.icon3top .fa-stack  img{
	margin:0 auto;
}